@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply local font, do not need to connect to internet to use the font */
@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat Bold"),
    url(./font/Montserrat//static/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./font/Montserrat/static/Montserrat-Medium.ttf) format("truetype");
}

/* remove the arrow inside number input fields. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove blue background form input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

/* apply downloaded font */
.custom-lg-font {
  font-family: "Montserrat", cursive;
}

.custom-sm-font {
  font-family: "Montserrat", cursive;
}

/* apply the calculated height to fix the nav and footer */
/* media query for responsive design of the calculator screen  */
@media screen and (min-width: 768px) {
  .custom-h-cal {
    height: calc(100vh - 3.5rem);
  }
}

/* set min height and width for responsive design of the calculator screen */
.custom-h-cal {
  min-height: 650px;
  min-width: 375px;
}

/* apply the calculated height to fix the nav and footer */
.custom-h {
  height: calc(100vh - 3.5rem);
}

/* reuse the sytle from tailwind CSS. */
@layer components {
  .partial-fee-text {
    @apply text-sm md:text-base text-gray-700 text-start ml-2 md:ml-8;
  }
  .partial-fee-value {
    @apply text-sm md:text-base text-gray-700 text-end ml-2 md:ml-8 truncate max-w-[85px];
  }
  .lg-text {
    @apply text-black text-xl sm:text-3xl;
  }
  .round-bg {
    @apply mx-auto w-[300px] h-[300px] sm:w-[550px] sm:h-[550px] rounded-full bg-black flex flex-col justify-center items-center;
  }
  .cyan-btn {
    @apply w-full bg-[#3F90D7] hover:bg-[#30A4E2] mt-4 mb-2 text-black p-3 rounded-lg text-sm sm:text-lg;
  }
  .cyan-btn-dis {
    @apply w-full bg-[#3F90D7] mt-4 mb-2 text-gray-500 p-3 rounded-lg text-sm sm:text-lg;
  }
  .nav-icon {
    @apply text-[#3F90D7] w-4 h-4 sm:w-6 h-6 mr-2;
  }
  .nav-text {
    @apply text-black font-bold text-sm sm:text-lg mr-6;
  }
  .footer-text {
    @apply text-gray-500 text-sm sm:text-lg mr-4;
  }
  .input-field {
    @apply w-[250px] md:w-[380px] m-2 mt-0 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#3F90D7] focus:shadow-md;
  }
  .input-lable {
    @apply text-sm m-2 sm:text-lg font-medium text-[#07074D] mr-4 w-[200px];
  }
  .rows {
    @apply flex items-start justify-end ml-2;
  }
  .rows-start {
    @apply flex items-center justify-start;
  }
  .btns {
    @apply flex justify-center h-12 font-black text-xl border border-[#e0e0e0] bg-white rounded-md ml-2;
  }
  .rows-partial {
    @apply flex justify-between items-center h-[45px] mb-2;
  }
  .error-text {
    @apply text-xs text-rose-600;
  }
  .show-text {
    @apply text-sm text-[#3F90D7] flex flex-col items-end mb-4;
  }
  .btns-icon {
    @apply text-black h-5 m-1;
  }
  .date-input-field {
    @apply w-[190px] md:w-[250px] mr-2 md:m-2 mt-0 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#3F90D7] focus:shadow-md col-span-1;
  }
  .time-input-field {
    @apply w-[130px] md:w-[176px] md:m-2 mt-0 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#3F90D7] focus:shadow-md col-span-1;
  }
}
